<ion-view view-title="Ejercicio 2">
  <!-- <div class="recording">
    <div class="absolute-center light" style="font-size: 50px;">GRABANDO</div>
  </div> -->
  <ion-content class="padding-20">
  	<div class="white-card">
  		<div class="white-card-title">Ejercicio</div>
  		<div class="white-card-content">El gato está debajo de la mesa.</div>
  	</div>
  	<div class="white-card">
  		<div class="white-card-title">Ingresado</div>
  		<div class="white-card-content">
        El macri está bajo la alfombra
      </div>
  	</div>
  	<div class="text-on-bg big-text" style="text-align: center;">
  		<span class="positive">RESULTADO: </span>
  		<br><br>
  		<span class="balanced" style="font-size: 30px;">CORRECTO!</span>
  	</div>
  </ion-content>
  <div class="bottom-center-bar">
    <div class="calm-bg round small-button inline">
      <i class="ion-chevron-left light"></i>
    </div>
	  <div class="positive-bg round big-button inline" style="margin: 0px 5px;">
	  	<i class="ion-android-microphone light"></i>
	  </div>
    <div class="calm-bg round small-button inline">
      <i class="ion-chevron-right light"></i>
    </div>
  </div>
</ion-view>
