
<ion-view cache-view="false">

    <ion-nav-title>Area Chart</ion-nav-title>
	<ion-nav-bar class="bar-positive nav-title-slide-ios7" class="button-clear">
	   <ion-nav-back-button>
      </ion-nav-back-button>
       
      </ion-nav-bar> 
	
	  <ion-content has-bouncing="true">
		<div class="card">
             <div class="item item-divider " style="text-align:center;">Chart For Internet Usage </div>
            <div class="item item-text-wrap" style="padding:0px">


                <highchart config="chartarea" class="Chartcenter"></highchart>

            </div>
            
        </div>
	</ion-content>
  
</ion-view>