<style>


 ion-item {
		font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
		font-size: 14px;
		color: #444;
	<!-- 	font-weight: bold; -->
 
}

</style>
<ion-view cache-view="false">

    <ion-nav-title>Pie Chart</ion-nav-title>
	<ion-nav-bar class="bar-positive nav-title-slide-ios7" class="button-clear">
	   <ion-nav-back-button>
      </ion-nav-back-button>
       
      </ion-nav-bar> 
	
	  <ion-content has-bouncing="true">
		<div class="card">
            <div class="item item-divider " style="text-align:center;">Chart For Fruit </div>
            <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">


                <highchart config="chartPie" class="Chartcenter"></highchart>

            </div>
           
        </div>
	</ion-content>
  
</ion-view>