<ion-view cache-view="false" view-title="Menú de Ejercicios">
    <ion-content class="padding">
        <div class="text-center">
            <!-- #/app/exercises/1 -->
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(2)">
                Volumen de Voz
            </div>
            <div class="exercise-description" ng-show="vm.selected == 2">
                <p>Regula el volúmen de tu voz.</p>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startTonePractice()">
                    Práctica Libre
                </div>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startToneExercise()">
                    Comenzar
                </div>
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(3)">
                Ritmo
            </div>
            <div class="exercise-description" ng-show="vm.selected == 3">
                <p>Lee la frase en el tiempo adecuado.</p>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startRhythmExercises()">
                    Comenzar
                </div>
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(4)">
                Discrimicación Auditiva *
            </div>
            <div class="exercise-description" ng-show="vm.selected == 4">
                <p>Escucha el sonido y asóciala con su imagen.</p>
                <p>* Se necesita capacidad auditiva.</p>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startSoundExercises()">
                    Comenzar
                </div>
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(5)">
                Reconocimiento
            </div>
            <div class="exercise-description" ng-show="vm.selected == 5">
                <p>Distingue las frases de los sonidos ambientales.</p>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startRecognitionExercises()">
                    Comenzar
                </div>
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(6)">
                Pronunciación
            </div>
            <div class="exercise-description" ng-show="vm.selected == 6">
                <p>FRASE.</p>
                <div class="button button-shadow button-positive red-background uppercase" ng-click="startVocalizationExercises()">
                    Comenzar
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
