<ion-view cache-view="false" view-title="Categorías">
    <ion-content class="padding">
        <div class="text-center">
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(1)">Animales</div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(2)">Camiones</div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(3)">Alarmas</div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(4)">Otros</div>
        </div>
    </ion-content>
</ion-view>
