<ion-view cache-view="false" view-title="Menú de Ejercicios">
    <ion-content class="padding">
        <div class="text-center">
            <a href="#" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(1)">Animales</a>
            <a href="#" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(2)">Camiones</a>
            <a href="#" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(3)">Alarmas</a>
            <a href="#" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(4)">Otros</a>
        </div>
    </ion-content>
</ion-view>
