<ion-view view-title="Ejercicio" style="padding-bottom: 150px;">
	<ion-content>
		<div class="exercise padding-20">
			<div class="white-card">
				<div class="white-card-title">
					{{actualExercise.word}}
				</div>
				<div class="white-card-content tonePhrase">
					<span ng-repeat="wordObject in actualExercise.phrase" ng-class="{'selected-word': wordObject.highlighted}">{{wordObject.word}}</span>
				</div>
			</div>
		</div>
		<div ng-show="correct || correct === false" class="text-on-bg big-text" style="text-align: center;">
			<span class="positive">RESULTADO: </span>
			<br>
			<br>
			<span ng-show="correct" class="balanced" style="font-size: 30px;">CORRECTO!</span>
			<span ng-show="correct === false" class="assertive" style="font-size: 30px;">INCORRECTO</span>
			<div ng-show="percentage">Grado de certeza: {{percentage}}</div>
			<div ng-show="!percentage">Grado de certeza muy bajo</div>
			<div ng-show="correct === false">
				<div class="button button-shadow button-faded button-block uppercase" ng-click="nextExercise()">
					<span ng-hide="position == unresolvedExercises.length - 1">Siguiente Ejercicio</span>
					<span ng-show="position == unresolvedExercises.length - 1">Finalizar Módulo</span>
				</div>
			</div>
		</div>
	</ion-content>
	<div ng-show="recording" class="recording">
		<div class="absolute-center light recording-text blink_me">GRABANDO</div>
	</div>
	<div class="bottom-center-bar" style="z-index: 6;">
		<div class="round big-button inline button-shadow" ng-click="recordButton()" style="margin: 0px 5px;" ng-class="{'light-bg': recording, 'positive-bg': !recording}">
			<i class="ion-android-microphone" ng-class="{'positive': recording, 'light': !recording}"></i>
		</div>
	</div>
</ion-view>
