<ion-view view-title="Ejercicio" cache-view="false" style="padding-bottom: 150px;">
	<ion-content>
		<div class="padding-20">
			<div class="text-on-bg" style="text-align: center; margin-bottom: 10px;">
          <span class="">PRONUNCIA CORRECTAMENTE</span>
      </div>
		</div>
		<div class="exercise padding-20">
			<div class="text-on-bg big-text" style="text-align: center; font-size: 45px; text-transform: uppercase;">
					{{actualExercise.word}}
			</div>
		</div>
		<div ng-show="correct || correct === false" class="text-on-bg big-text" style="text-align: center; margin-top: 30px;">
			<span class="positive">RESULTADO: </span>
			<br>
			<br>
			<span ng-show="correct" class="balanced" style="font-size: 30px;">CORRECTO!</span>
			<span ng-show="correct === false" class="assertive" style="font-size: 30px;">INCORRECTO</span>
			<div ng-show="result && result.confidence">
				<span>Grado de certeza: {{result.confidence}}%.</span>
				<span ng-show="correct">Excelente!</span>
				<span ng-show="!correct">Intenta mejorarlo</span>
			</div>
			<div ng-show="!result || !result.confidence">Grado de certeza muy bajo. Intenta mejorarlo</div>
			<div ng-show="correct === false">
				<div class="button button-shadow button-faded button-block uppercase" ng-click="nextExercise()">
					<span ng-hide="unresolvedExercises.length == 0">Siguiente Ejercicio</span>
					<span ng-show="unresolvedExercises.length == 0">Finalizar Módulo</span>
				</div>
			</div>
		</div>
	</ion-content>
	<div ng-show="recording" class="recording">
		<div class="absolute-center light recording-text blink_me">GRABANDO</div>
	</div>
	<div class="bottom-center-bar" style="z-index: 6;">
		<div class="round big-button inline button-shadow" ng-click="recordButton()" style="margin: 0px 5px;" ng-class="{'light-bg': recording, 'positive-bg': !recording}">
			<i class="ion-android-microphone" ng-class="{'positive': recording, 'light': !recording}"></i>
		</div>
	</div>
</ion-view>
