<ion-view view-title="Perfil">
  <ion-content class="padding">
    <!-- <div class="text-on-bg big-text padding margin-top-10">
  		<span class="positive">EJERCICIOS BIEN: </span><span>{{exercisesDoneOk.length}}</span>
  		<br><br>
  		<span class="positive">EJERCICIOS ERRÓNEOS: </span><span>{{exercisesDoneWrong.length}}</span>
  	</div> -->
  	<div class="text-center">
  		<button class="button button-shadow button-calm uppercase margin-top-20" ng-click="changePassword()">Cambiar contraseña</button>
  	</div>
    <div class="text-center">
      <button class="button button-shadow button-assertive uppercase margin-top-20" ng-click="deleteUser()">Eliminar Usuario</button>
    </div>
  </ion-content>
</ion-view>
