<ion-view cache-view="false">
    <ion-content class="login-content red-background">
        <div class="menu-logo">
            <div class="fonana-logo"></div>
        </div>
        <div class="list list-center-items">
            <div class="item item-input">
                <span class="input-label light">Email</span>
                <input class="input-border-bottom light" type="text" ng-model="vm.form.mail">
            </div>
            <div class="item item-input" ng-hide="vm.forgotPassword">
                <span class="input-label light">Contraseña</span>
                <input class="input-border-bottom light" type="password" ng-model="vm.form.password">
            </div>
            <div class="item item-input" ng-show="vm.createUser">
                <span class="input-label light">Repetir contraseña</span>
                <input class="input-border-bottom light" type="password" ng-model="vm.form.repeatPassword">
            </div>
            <div class="item">
                <button type="button" class="button button-block button-stable button-shadow" ng-click="logInWithMail()" ng-hide="vm.createUser || vm.forgotPassword"><span class="positive">Iniciar Sesión</span></button>
                <p class="light sub text-center margin-top-20" ng-click="vm.createUser = true;" ng-hide="vm.createUser || vm.forgotPassword">Crear nuevo usuario</p>
                <p class="light sub text-center margin-top-20" ng-click="vm.forgotPassword = true;" ng-hide="vm.createUser || vm.forgotPassword">Reestablecer contraseña</p>
                <button type="button" class="button button-block button-stable button-shadow" ng-click="signInWithMail()" ng-show="vm.createUser"><span class="positive">Crear Usuario</span></button>
                <button type="button" class="button button-block button-stable button-shadow" ng-click="resetPassword()" ng-show="vm.forgotPassword"><span class="positive">Reestablecer contraseña</span></button>
                <p class="light sub text-center margin-top-20" ng-click="cancel()" ng-show="vm.createUser || vm.forgotPassword">Cancelar</p>
                <!-- <button type="button" class="button button-block button-stable button-shadow" ng-click="authWithFace()"><span class="positive">Usar Facebook</span></button> -->
            </div>
        </div>
    </ion-content>
</ion-view>
