<ion-view cache-view="false" view-title="Seguimiento Discriminación Auditiva">
	<ion-content class="padding">
		<div class="chart-container">
			<canvas id="category1" width="50%" class="chart chart-pie" chart-data="category1.data" chart-labels="category1.labels" chart-options="category1.options">
			</canvas>
		</div>
		<div class="chart-container">
			<canvas id="category2" class="chart chart-pie" chart-data="category2.data" chart-labels="category2.labels" chart-options="category2.options">
			</canvas>
		</div>
		<div class="chart-container">
			<canvas id="category3" class="chart chart-pie" chart-data="category3.data" chart-labels="category3.labels" chart-options="category3.options">
			</canvas>
		</div>
		<div class="chart-container">
			<canvas id="category4" class="chart chart-pie" chart-data="category4.data" chart-labels="category5.labels" chart-options="category4.options">
			</canvas>
		</div>
		<div class="chart-container">
			<canvas id="category5" class="chart chart-pie" chart-data="category5.data" chart-labels="category5.labels" chart-options="category5.options">
			</canvas>
		<div class="chart-container">
		</div>
			<div class="button button-shadow red-background button-positive button-block uppercase margin-top-20" ng-click="sendMail()">
				COMPARTIR
			</div>
			<div class="button button-assertive button-block uppercase margin-top-20" ng-click="resetSoundExercises()">
				REINICIAR
			</div>
		</div>
	</ion-content>
</ion-view>
