<ion-view cache-view="false" view-title="Menú de Seguimiento">
    <ion-content class="padding">
        <div class="text-center">
            <div class="button button-positive button-block uppercase margin-top-20" ng-click="selectExercise(4)">
                Discrimicación Auditiva
            </div>
            <div class="button button-positive button-block uppercase margin-top-20" ng-click="selectExercise(2)">
                Volumen de Voz
            </div>
            <div class="button button-positive button-block uppercase margin-top-20" ng-click="selectExercise(3)">
                Ritmo
            </div>
            <div class="button button-positive button-block uppercase margin-top-20" ng-click="selectExercise(5)">
                Reconocimiento
            </div>
            <div class="button button-positive button-block uppercase margin-top-20" ng-click="selectExercise(1)">
                Pronunciación
            </div>
            <br>
            <!-- <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="sendMail()">
                Enviar seguimiento por email
            </div> -->
        </div>
    </ion-content>
</ion-view>
