<ion-view cache-view="false" view-title="Menú de Seguimiento">
    <ion-content class="padding">
        <div class="text-center">
            <div ng-disabled="true" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(1)">
                Pronunciación
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(2)">
                Volumen de Voz
            </div>
            <div ng-disabled="true" class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(3)">
                Ritmo
            </div>
            <div class="button button-shadow button-positive red-background button-block uppercase margin-top-20" ng-click="selectExercise(4)">
                Discrimicación Auditiva
            </div>
        </div>
    </ion-content>
</ion-view>
