<ion-view cache-view="false" view-title="Seguimiento">
	<ion-content class="padding">
		<div class="chart-container">
			<canvas id="seguimiento" class="chart chart-pie" chart-data="exercises.data" chart-labels="exercises.labels" chart-options="exercises.options">
			</canvas>
			<div class="button button-shadow red-background button-positive button-block uppercase margin-top-20" ng-click="sendMail()">
				COMPARTIR
			</div>
			<div class="button button-assertive button-block uppercase margin-top-20" ng-click="resetVocalizationExercises()">
				REINICIAR
			</div>
		</div>
		<div ng-if="wrongs.length">
			<div class="text-on-bg" style="text-align: center; margin-bottom: 10px;">
				<span class="big-text">Ejercicios Incorrectos</span>
			</div>
			<div ng-repeat="exercise in wrongs" class="bigger-text" style="text-transform: capitalize;">
				&nbsp; - {{exercise.word}}
			</div>
		</div>
	</ion-content>
</ion-view>
