<ion-view view-title="Perfil">
    <ion-content class="padding">
        <div class="list list-center-items">
            <div class="item item-input">
                <span class="input-label">Contraseña</span>
                <input class="input-border-bottom" type="password" ng-model="vm.form.password">
            </div>
            <div class="item item-input">
                <span class="input-label">Repetir contraseña</span>
                <input class="input-border-bottom" type="password" ng-model="vm.form.repeatPassword">
            </div>
        </div>
        <div class="text-center">
            <button class="button button-shadow button-calm uppercase margin-top-20" ng-click="updatePassword()">Actualizar contraseña</button>
        </div>
    </ion-content>
</ion-view>
